* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 100%;
    margin: 0%;
    font-family: 'Arima', cursive;
    text-align: center;
}

.logo {
    display: inline-flex;

}

.logo img {
    display: inline-flex;
    width: 300px;
    height: 300px;
    left: -250px;
    position: relative;

}

header {
    position: relative;
    display: inline-flex;
    top: -200px;
    left: -200px;
}

h1 {
    display: inline-flex;
    font-family: 'Arima', cursive;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    width: 500px;
    justify-content: center;
    border-radius: 20px;

}


#pesquisaimg {
    display: inline-flex;
    position: relative;
    top: -325px;
    right: -545px;
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

.search {
    display: inline-flex;
    position: relative;
    width: 40px;
    top: -310px;
    right: -540px;

}

.user {
    display: inline-flex;
    width: 40px;
    position: relative;
    top: -260px;
    right: -350px;

}

#menu {
    display: inline-flex;
    position: relative;
    top: -280px;
    right:-600px;
    font-size: 24px;
    font-family: 'Arima', cursive;
    font-weight: bold;
    padding-left: 100px;
    z-index: 10000;


}

#menu li {
    display: flex;
    position: relative;
    list-style: none;
    list-style-type: none;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    border-radius: 8px;
    padding: 5px;
    justify-content: center;
    width: 150px;
    align-items: center;
    margin: 15px auto 5px 0px;

}

#menu li ul {
    display: none;

}

#menu a {
    color: black;
    text-decoration: none;
}

#menu>ul>li:hover {
    display: flex;
    margin-left: -40px;
    padding-right: 45px;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    justify-content: right;
    z-index: 10000;
}

#menu>ul>li:hover ul {
    border-radius: 10%;
    display: inline-flex;
    left: -155px;
    top: -2px;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    flex-direction: column;

}
.cont {
    display: inline-flex;
    position: relative;
}
.nav_login>li {
    list-style: none;
    list-style-type: none;
    border-radius: 20px;
    border-radius: 10%;
    border: 2px solid rgb(83, 144, 223);
    background-color: rgb(107, 170, 253);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 210px;
    width: 150px;
    position: absolute;
    right: -400px;
    top:-250px;
    z-index: 1000;
   

}


.nav_login {
    display: none;
    list-style: none;
    list-style-type: none;

}


form .login {
    position: relative;
    width: 10px;
    height: -50px;
    margin-left: 5px;
    bottom: auto;
    border-radius: 20px;
    z-index: 1000;
}

.login .submit {
    position: relative;
    width: 130px;
    top: 165px;
    left: 2px;
    border-radius: 10px;
    background-color: rgb(194, 191, 191);
    border: 1px solid gray;
}


.login .label1 {
    position: absolute;
    font-size: 20px;
    background-color: rgb(151, 195, 253);
    border-radius: 6px;
    box-shadow: 2px 2px;
    border: 2px solid black;
    left: 15px;
    border: 40px;
    top: 10px;

}

.login .label2 {
    position: absolute;
    font-size: 20px;
    background-color: rgb(151, 195, 253);
    border-radius: 6px;
    box-shadow: 2px 2px;
    left: 10px;
    border: 40px;
    top: 100px;


}

.login #nome_login {
    position: absolute;
    width: 120px;
    top: 60px;
    left: 15px;
    border-radius: 10px;
}

.login #senha {
    position: absolute;
    width: 120px;
    top: 150px;
    left: 15px;
    border-radius: 10px;
}

.cont:hover .nav_login {
    display: inline-block;

}
.pata1 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -800px;
    top: -350px;
    z-index: -100;

}

.pata2 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -660px;
    top: 0px;
    z-index: -100;


}

.pata3 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -400px;
    top: -600px;
    z-index: -100;

}
.tabela{
    display: inline-flex;
    top: -550px;
    left: 420px;
}
table{

    position: relative;
    top: -550px;
    left: 30px;
    border-collapse: collapse;
   
    
   
}
thead{
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    
}
th{
    padding: 15px;
    font-size: 24px;  
    border: 2px solid rgb(15, 28, 214);
    
}
tr{
    border: 2px solid black;
   
}
td{
    padding: 10px;
    border: 2px solid black;
    

    
}
.manha{
    font-size: 24px;
    font-weight: bolder;
    
}

.oito{
 font-weight: 600;
 font-size: 20px;
}


.medico{
    display: inline-block;
    position: relative;
    top:-900px;
    right: 800px;
    text-align: left;
}

.label1, .label2{
    font-size: 24px;
    font-weight: bolder;
    
}
select{
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}

.submit{
    background-color: rgb(107, 170, 253);
    border: rgb(107, 170, 253);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;

}
.cancel{
    background-color: rgb(137, 137, 138);
    border: rgb(137, 137, 138);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    

}
h2{
    position: relative;
    top:-550px;
    right: 100px;
}


/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/

@media only screen and (max-width: 1450px) {
    #menu {
        display: inline-flex;
        position: relative;
        top: -180px;
        right:-350px;
        font-size: 22px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        padding-left: 100px;
        z-index: 10000;
    
    
    }
    
    #menu li {
        display: flex;
        position: relative;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 150px;
        align-items: center;
        margin: 15px auto 5px 0px;
    
    }
    
    #menu li ul {
        display: none;
    
    }
    
    #menu a {
        color: black;
        text-decoration: none;
    }
    
    #menu>ul>li:hover {
        display: flex;
        margin-left: -40px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: right;
        z-index: 10000;
    }
    
    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: inline-flex;
        left: -155px;
        top: -2px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;
    
    }
    .cont {
        display: inline-block;
    }
    .nav_login>li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        border-radius: 20px;
        border-radius: 10%;
        border: 2px solid rgb(83, 144, 223);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 210px;
        width: 150px;
        position: fixed;
        right: 160px;
        top:150px;
        z-index: 1000;
    
    }
    
    
    .nav_login {
        display: none;
        list-style: none;
        list-style-type: none;
    
    }
    .tabela{
        display: inline-flex;
        
        
    }
    table{
    
        position: relative;
        top: -450px;
        left: 150px;
        border-collapse: collapse;
    }
    thead{
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        
    }
    th{
        padding: 7px;
        font-size: 20px;  
        border: 2px solid rgb(15, 28, 214);
        
    }
    tr{
        border: 2px solid black;
       
    }
    td{
        padding: 5px;
        border: 2px solid black;
        
    
        
    }
    .manha{
        font-size: 18px;
        font-weight: bolder;
        
    }
    
    .oito{
     font-weight: 600;
     font-size: 16px;
    }
    h2{
        left: 60px;
        top: -450px;
    }
    
    .medico{
        display: inline-block;
        position: relative;
        top:-700px;
        left: -425px;
        text-align: left;
    }
    .pata1 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -500px;
        top: -250px;
        z-index: -100;
    
    }
    
    .pata2 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -400px;
        top: -50px;
        z-index: -100;
    
    
    }
    
    .pata3 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -200px;
        top: -550px;
        z-index: -100;
    
    }
    .logo {
        display: inline-flex;
    
    }
    
    .logo img {
        display: inline-flex;
        width: 300px;
        height: 300px;
        left: -120px;
        position: relative;
    
    }
    
    header {
        position: relative;
        display: inline-flex;
        top: -150px;
        left: -110px;
    }
    
    h1 {
        display: inline-flex;
        font-family: 'Arima', cursive;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        border-radius: 20px;
        font-size: 22px;
    
    }
    
    #pesquisaimg {
        display: inline-flex;
        position: relative;
        top: -255px;
        right: -325px;
        width: 170px;
        height: 35px;
        border-radius: 5px;
    }
    
    .search {
        display: inline-flex;
        position: relative;
        width: 40px;
        top: -240px;
        right: -325px;
    
    }
    
    .user {
        display: inline-flex;
        width: 40px;
        position: relative;
        top: -190px;
        right: -190px;
    
    }
    
}
/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/
@media only screen and (max-width: 900px) {
    #menu {
        display: inline-flex;
        position: relative;
        top: -80px;
        right:-140px;
        font-size: 18px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        padding-left: 100px;
        z-index: 10000;
    
    
    }
    
    #menu li {
        display: flex;
        position: relative;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 150px;
        align-items: center;
        margin: 15px auto 5px 0px;
    
    }
    
    #menu li ul {
        display: none;
    
    }
    
    #menu a {
        color: black;
        text-decoration: none;
    }
    
    #menu>ul>li:hover {
        display: flex;
        margin-left: -40px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: right;
        z-index: 10000;
    }
    
    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: inline-flex;
        left: -155px;
        top: -2px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;
    
    }
    .cont {
        display: inline-block;
    }
    .nav_login>li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        border-radius: 20px;
        border-radius: 10%;
        border: 2px solid rgb(83, 144, 223);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 210px;
        width: 150px;
        position: absolute;
        right: -100px;
        top:-80px;
        z-index: 100000;
    
    }
    
    
    .nav_login {
        display: none;
        list-style: none;
        list-style-type: none;
    
    }
    .tabela{
        display: inline-flex;
       
        
    }
    table{
    
        position: relative;
        top: -150px;
        left: 50px;
        border-collapse: collapse;
    }
    thead{
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        
    }
    th{
        padding: 2px;
        font-size: 18px;  
        border: 2px solid rgb(15, 28, 214);
        
    }
    tr{
        border: 2px solid black;
       
    }
    td{
        padding: 2px;
        border: 2px solid black;
        
    
        
    }
    .manha{
        font-size: 14px;
        font-weight: bolder;
        
    }
    
    .oito{
     font-weight: 600;
     font-size: 12px;
    }
    h2{
        font-size: 18px;
        left: -25px;
        top:-150px;
    }
    
    .medico{
        display: inline-block;
        position: relative;
        top:-650px;
        left: -200px;
        text-align: left;
        
    }
    .label1, .label2{
        font-size: 18px;
        font-weight: bolder;
        
    }
    select{
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
    }
    
    .submit{
        background-color: rgb(107, 170, 253);
        border: rgb(107, 170, 253);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
    
    }
    .cancel{
        background-color: rgb(137, 137, 138);
        border: rgb(137, 137, 138);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
        
    
    }
    .pata1 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -200px;
        top: -200px;
        z-index: -100;
    
    }
    
    .pata2 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -100px;
        top: -450px;
        z-index: -100;
    
    
    }
    
    .pata3 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -20px;
        top: -100px;
        z-index: -100;
    
    }
    .logo {
        display: inline-flex;
    
    }
    
    .logo img {
        display: inline-flex;
        width: 200px;
        height: 200px;
        left: -30px;
        position: relative;
    
    }
    
    header {
        position: relative;
        display: inline-flex;
        top: -81px;
        left: -40px;
    }
    
    h1 {
        display: inline-flex;
        font-family: 'Arima', cursive;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        border-radius: 20px;
        font-size: 18px;
    
    }
    
    #pesquisaimg {
        display: inline-flex;
        position: relative;
        top: -105px;
        right: -150px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
    }
    
    .search {
        display: inline-flex;
        position: relative;
        width: 40px;
        top: -90px;
        right: -150px;
    
    }
    
    .user {
        display: inline-flex;
        width: 40px;
        position: relative;
        top: -40px;
        right: -50px;
    
    
    }
    
}
/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/
@media only screen and (max-width: 477px) {
    #menu {
        display: inline-flex;
        position: relative;
        top: -80px;
        right:-120px;
        font-size: 18px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        padding-left: 100px;
        z-index: 10000;
    
    
    }
    
    #menu li {
        display: flex;
        position: relative;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 150px;
        align-items: center;
        margin: 15px auto 5px 0px;
    
    }
    
    #menu li ul {
        display: none;
    
    }
    
    #menu a {
        color: black;
        text-decoration: none;
    }
    
    #menu>ul>li:hover {
        display: flex;
        margin-left: -40px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: right;
        z-index: 10000;
    }
    
    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: inline-flex;
        left: -155px;
        top: -2px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;
    
    }
    .cont {
        display: inline-block;
    }
    .nav_login>li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        border-radius: 20px;
        border-radius: 10%;
        border: 2px solid rgb(83, 144, 223);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 210px;
        width: 150px;
        position: absolute;
        right: -100px;
        top:-80px;
        z-index: 100000;
    
    }
    
    
    .nav_login {
        display: none;
        list-style: none;
        list-style-type: none;
    
    }
    .tabela{
        display: inline-flex;
       
        
    }
    table{
    
        position: relative;
        top: -350px;
        left: 50px;
        border-collapse: collapse;
    }
    thead{
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        
    }
    th{
        padding: 2px;
        font-size: 18px;  
        border: 2px solid rgb(15, 28, 214);
        
    }
    tr{
        border: 2px solid black;
       
    }
    td{
        padding: 2px;
        border: 2px solid black;
        
    
        
    }
    .manha{
        font-size: 14px;
        font-weight: bolder;
        
    }
    
    .oito{
     font-weight: 600;
     font-size: 12px;
    }
    h2{
        font-size: 18px;
        left: -25px;
        top:-350px;
    }
    
    .medico{
        display: inline-block;
        position: relative;
        top:-800px;
        left: -200px;
        text-align: left;
        
    }
    .label1, .label2{
        font-size: 18px;
        font-weight: bolder;
        
    }
    select{
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
    }
    
    .submit{
        background-color: rgb(107, 170, 253);
        border: rgb(107, 170, 253);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
    
    }
    .cancel{
        background-color: rgb(137, 137, 138);
        border: rgb(137, 137, 138);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
        
    
    }
    .pata1 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -150px;
        top: -200px;
        z-index: -100;
    
    }
    
    .pata2 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -100px;
        top: -450px;
        z-index: -100;
    
    
    }
    
    .pata3 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -150px;
        top: -200px;
        z-index: -100;
    
    }
    .logo {
        display: inline-flex;
    
    }
    
    .logo img {
        display: inline-flex;
        width: 200px;
        height: 200px;
        left: -30px;
        position: relative;
    
    }
    
    header {
        position: relative;
        display: inline-flex;
        top: -21px;
        left: -40px;
    }
    
    h1 {
        display: inline-flex;
        font-family: 'Arima', cursive;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        border-radius: 20px;
        font-size: 18px;
    
    }
    
    #pesquisaimg {
        display: inline-flex;
        position: relative;
        top: -80px;
        right: -150px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
    }
    
    .search {
        display: inline-flex;
        position: relative;
        width: 40px;
        top: -65px;
        right: -150px;
    
    }
    
    .user {
        display: inline-flex;
        width: 40px;
        position: relative;
        top: -15px;
        right: -50px;
    
    
    }
    
}
/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/
@media only screen and (max-width: 460px) {
    #menu {
        display: inline-flex;
        position: relative;
        top: -80px;
        right:-80px;
        font-size: 18px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        padding-left: 100px;
        z-index: 10000;
    
    
    }
    
    #menu li {
        display: flex;
        position: relative;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 150px;
        align-items: center;
        margin: 15px auto 5px 0px;
    
    }
    
    #menu li ul {
        display: none;
    
    }
    
    #menu a {
        color: black;
        text-decoration: none;
    }
    
    #menu>ul>li:hover {
        display: flex;
        margin-left: -40px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: right;
        z-index: 10000;
    }
    
    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: inline-flex;
        left: -155px;
        top: -2px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 5px;
        flex-direction: column;
    
    }
    .cont {
        display: inline-block;
    }
    .nav_login>li {
        display: inline-block;
        list-style: none;
        list-style-type: none;
        border-radius: 20px;
        border-radius: 10%;
        border: 2px solid rgb(83, 144, 223);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 210px;
        width: 150px;
        position: absolute;
        right: -100px;
        top:-80px;
        z-index: 100000;
    
    }
    
    
    .nav_login {
        display: none;
        list-style: none;
        list-style-type: none;
    
    }
    .tabela{
        display: inline-flex;
       
        
    }
    table{
    
        position: relative;
        top: -300px;
        left: 0px;
        border-collapse: collapse;
    }
    thead{
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        
    }
    th{
        padding: 2px;
        font-size: 18px;  
        border: 2px solid rgb(15, 28, 214);
        
    }
    tr{
        border: 2px solid black;
       
    }
    td{
        padding: 2px;
        border: 2px solid black;
        
    
        
    }
    .manha{
        font-size: 14px;
        font-weight: bolder;
        
    }
    
    .oito{
     font-weight: 600;
     font-size: 12px;
    }
    h2{
        font-size: 18px;
        left: -15px;
        top:-310px;
    }
    
    .medico{
        display: inline-block;
        position: relative;
        top:-950px;
        left: -50px;
        text-align: left;
        
    }
    .label1, .label2{
        font-size: 18px;
        font-weight: bolder;
        
    }
    select{
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
    }
    
    .submit{
        background-color: rgb(107, 170, 253);
        border: rgb(107, 170, 253);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
    
    }
    .cancel{
        background-color: rgb(137, 137, 138);
        border: rgb(137, 137, 138);
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        margin-top: 10px;
        
    
    }
    .pata1 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -200px;
        top: -200px;
        z-index: -100;
    
    }
    
    .pata2 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -100px;
        top: -450px;
        z-index: -100;
    
    
    }
    
    .pata3 {
        display: inline-flex;
        position: relative;
        height: 150px;
        right: -80px;
        top: -200px;
        z-index: -100;
    
    }
    .logo {
        display: inline-flex;
    
    }
    
    .logo img {
        display: inline-flex;
        width: 200px;
        height: 200px;
        left: -30px;
        position: relative;
    
    }
    
    header {
        position: relative;
        display: inline-flex;
        top: -21px;
        left: -40px;
    }
    
    h1 {
        display: inline-flex;
        font-family: 'Arima', cursive;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        border-radius: 20px;
        font-size: 18px;
    
    }
    
    #pesquisaimg {
        display: inline-flex;
        position: relative;
        top: -85px;
        right: -150px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
    }
    
    .search {
        display: inline-flex;
        position: relative;
        width: 40px;
        top: -70px;
        right: -150px;
    
    }
    
    .user {
        display: inline-flex;
        width: 40px;
        position: relative;
        top: -20px;
        right: -50px;
    
    
    }
    
}