* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    margin: 0%;
    font-family: 'Arima', cursive;
    text-align: center;
}

#menu {
    display: inline-block;
    position: relative;
    top:5px;
    right: -595px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 100px;


}

#menu li {
    display: flex;
    list-style: none;
    list-style-type: none;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    border-radius: 8px;
    padding: 5px;
    justify-content: center;
    width: 150px;
    align-items: center;
    margin: 15px auto 5px 0px;


}

#menu li ul {
    display: none;

}

#menu a {
    color: black;
    text-decoration: none;
}

#menu>ul>li:hover {
    display: flex;
    margin-left: -40px;
    padding-right: 45px;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    justify-content: right;

}


#menu>ul>li:hover ul {
    border-radius: 10%;
    display: flex;
    position: absolute;
    left: -70px;
    top: 83px;
    border: 2px solid rgb(107, 170, 253);
    background-color: rgb(107, 170, 253);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: -500px;
    height: 0;
    

}

.logoimg {
    height: 500px;
    display: inline-block;
    position: absolute;
    z-index: -100;


}

.atendimento {
    display: inline-flex;
    position: relative;
    right: 500px;
    top: 20px;

}

.atende {
    display: inline-flex;
    position: absolute;
    height: 400px;
    top: 345px;
    left: 40px;
    z-index: 1000;


}

form {
    position: relative;
    width: 1000px;
    height: 225px;
    margin-left: 5px;
    bottom: auto;
    border-radius: 20px;
    background-color: rgb(131, 184, 243);
    border: 2px solid rgb(97, 146, 238);
}

#login1 .submit {
    position: relative;
    width: 130px;
    top: 180px;
    left: 1px;
    border-radius: 10px;
}


#login1 .label1 {
    position: absolute;
    font-size: 20px;
    background-color: rgb(151, 195, 253);
    border-radius: 6px;
    box-shadow: 2px 2px;
    left: 15px;
    border: 40px;
    top: 10px;

}

#login1 .label2 {
    position: absolute;
    font-size: 20px;
    background-color: rgb(151, 195, 253);
    border-radius: 6px;
    box-shadow: 2px 2px;
    left: 10px;
    border: 40px;
    top: 100px;


}

#login1 #nome_login {
    position: absolute;
    width: 120px;
    top: 60px;
    left: 15px;
    border-radius: 10px;
}

#login1 #senha {
    position: absolute;
    width: 120px;
    top: 150px;
    left: 15px;
    border-radius: 10px;
}



.pata1 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -600px;
    top: -100px;
    z-index: -100;

}

.pata2 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -550px;
    top: 150px;
    z-index: -100;


}

.pata3 {
    display: inline-flex;
    position: relative;
    height: 150px;
    right: -350px;
    top: -325px;
    z-index: -100;

}



section p {
    display: inline-block;
    position: absolute;
    font-family: 'Arima', cursive;
    font-size: 25px;
    font-weight: bold;

}



.img1 {
    position: relative;
    top:-30px;
    right: -80px;
    height: 50px;


}

.img2 {
    position: relative;
    top: 70px;
    right:-30px;
    height: 45px;

}

.p1 {
    position: relative;
    display: inline-block;
    top: 15px;
    right: -625px;

}

.p2 {
    position: relative;
    display: inline-block;
    top: 85px;
    right: -500px;


}

.p3 {
    position: relative;
    display: inline-block;
    top: 120px;
    right: -195px;


}

.p4 {
    position: relative;
    display: inline-block;
    top: 165px;
    right: 50px;


}



input[type="submit"] {
    width: 75%;
    cursor: pointer;
    background: rgb(222, 222, 222);
    padding: auto;
    color: rgb(9, 9, 9);
    font-size: 20px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: 2px 2px rgb(57, 56, 56);



}
/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/

@media only screen and (max-width: 1400px) {

    .logo {
        display: inline-flex;
        position: fixed;
        left: 100px;
        top: -50px;
        z-index: -50;

    }

    .logo img {
        height: 450px;
        display: inline-flex;
        z-index: -100;

    }

    .atende {
        display: inline-flex;
        position: fixed;
        height: 380px;
        top: 250px;
        left: 120px;
        padding-right: 0px;
        padding-left: -15px;
        text-align: center;
        z-index: 1000;

    }

    .contato li {
        top: 100px;
    }

    .contato p {
        position: fixed;
        font-family: 'Arima', cursive;
        font-size: 25px;
        font-weight: bold;


    }

    section .img1 {
        position: fixed;
        top: 425px;
        right: 600px;
        height: 50px;


    }

    section .img2 {
        position: fixed;
        top: 530px;
        right: 600px;
        height: 45px;

    }

    .p1 {
        position: fixed;
        top: 435px;
        right: 445px;

    }

    .p2 {
        position: fixed;
        top: 465px;
        right: 300px;
        text-align: center;

    }

    .p3 {
        position: fixed;
        top: 535px;
        right: 345px;

    }

    .p4 {
        position: fixed;
        top: 565px;
        right: 200px;
        text-align: center;

    }

    .pata1 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: 150px;
        z-index: -3;

    }

    .pata2 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: -30px;
        top: 400px;
        z-index: -3;


    }

    .pata3 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: -30px;
        z-index: -3;

    }

    #menu {
        display: inline-block;
        position: fixed;
        top: 15px;
        right: 0px;
        font-size: 24px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        z-index: 5;
        padding-left: 100px;


    }

    #menu li {
        display: flex;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 100px;
        align-items: center;
        margin: 15px auto 5px 0px;



    }

    #menu li ul {
        display: none;

    }

    #menu a {
        color: black;
        text-decoration: none;
    }

    #menu>ul>li:hover {
        display: flex;
        margin-left: -40px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: right;
    }



    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: flex;
        position: absolute;
        left: -80px;
        top: 83px;
        width: 150px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    form {
        position: relative;
        margin-left: 35px;
        border-radius: 20px;
        background-color: rgb(131, 184, 243);
        border: 2px solid rgb(97, 146, 238);
    }

    #login1 .submit {
        position: relative;
        width: 120px;
        top: 180px;
        left: auto;
        border-radius: 10px;
    }


    #login1 .label1 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 10px;

    }

    #login1 .label2 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 100px;


    }

    #login1 #nome_login {
        position: absolute;
        width: 110px;
        top: 60px;
        left: 5px;
        border-radius: 10px;
    }

    #login1 #senha {
        position: absolute;
        width: 110px;
        top: 150px;
        left: 5px;
        border-radius: 10px;
    }





    input[type="submit"] {
        cursor: pointer;
        background: rgb(222, 222, 222);
        padding: auto;
        color: rgb(9, 9, 9);
        font-size: 18px;
        margin-bottom: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid rgb(222, 222, 222);
        box-shadow: 2px 2px rgb(57, 56, 56);


    }



}

/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/

@media only screen and (max-width:1080px) {

    .logo {
        display: inline-flex;
        position: fixed;
        left: 100px;
        z-index: 1000;
        top: 0px;

    }

    .logo img {
        height: 400px;
        display: inline-flex;
        z-index: 1000;

    }

    .atende {
        display: inline-flex;
        position: fixed;
        height: 300px;
        top: 260px;
        left: 150px;
        padding-right: 0px;
        padding-left: -15px;
        text-align: center;


    }

    .contato p {
        position: fixed;
        font-family: 'Arima', cursive;
        font-size: 20px;
        font-weight: bold;


    }

     .p1 {
        position: fixed;
        top: 400px;
        right: 200px;
        

    }

    .p2 {
        position: fixed;
        top: 440px;
        right: 100px;
        text-align: center;

    }

    .p3 {
        position: fixed;
        top:500px;
        right:125px;

    }

    .p4 {
        position: fixed;
        top:535px;
        right: 50px;
        text-align: center;

    }
    section .img1 {
        position: absolute;
        top:400px;
        right: 330px;
        height: 45px;
    
    
    }
    
    section .img2 {
        position:absolute;
        top: 500px;
        right:330px;
        height: 35px;
    
    }

    .pata1 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: 150px;
        z-index: -1000;


    }

    .pata2 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: -30px;
        top: 400px;
        z-index: -1000;


    }

    .pata3 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: -30px;
        z-index: -1000;

    }
  
    #menu {
        
        display: inline-block;
        position: fixed;
        top: 5px;
        right: 0px;
        font-size: 24px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        z-index: 10001;
        padding-left: 150px;


    }

    #menu li {
        display: flex;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 100px;
        align-items: center;
        margin: 2px auto 5px 0px;



    }

    #menu li ul {
        display: none;

    }

    #menu a {
        color: black;
        text-decoration: none;
    }

    #menu>ul>li:hover {
        display: flex;
        margin-left: -45px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
    }



    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: flex;
        position: absolute;
        left: -40px;
        top: 63px;
        width: 150px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    form {
        position: relative;
        margin-left: 55px;
        margin-right: 5px;
        border-radius: 20px;
        background-color: rgb(131, 184, 243);
        border: 2px solid rgb(97, 146, 238);
    }

    #login1 .submit {
        position: relative;
        width: 120px;
        top: 180px;
        left: 2px;
        border-radius: 10px;
    }


    #login1 .label1 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 10px;

    }

    #login1 .label2 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 100px;


    }

    #login1 #nome_login {
        position: absolute;
        width: 110px;
        top: 60px;
        left: 5px;
        border-radius: 10px;
    }

    #login1 #senha {
        position: absolute;
        width: 110px;
        top: 150px;
        left: 5px;
        border-radius: 10px;
    }



}
/*_________________________________________________*/
/*_________________________________________________*/
/*_____________________resposive___________________*/
/*_________________________________________________*/
/*_________________________________________________*/

@media only screen and (max-width:780px) {

    .logo {
        display: inline-flex;
        position: fixed;
        left: 0px;
        z-index: 1000;
        top: 0px;

    }

    .logo img {
        height: 300px;
        display: inline-flex;
        z-index: 1000;

    }

    .atende {
        display: inline-flex;
        position: fixed;
        height: 280px;
        top: 200px;
        left: 15px;
        padding-right: 0px;
        padding-left: -15px;
        text-align: center;


    }

    .contato p {
        position: fixed;
        font-family: 'Arima', cursive;
        font-size: 20px;
        font-weight: bold;


    }

     .p1 {
        position: fixed;
        top: 400px;
        right: 200px;
        

    }

    .p2 {
        position: fixed;
        top: 440px;
        right: 100px;
        text-align: center;

    }

    .p3 {
        position: fixed;
        top:500px;
        right:125px;

    }

    .p4 {
        position: fixed;
        top:535px;
        right: 50px;
        text-align: center;

    }
    section .img1 {
        position: absolute;
        top:400px;
        right: 330px;
        height: 45px;
    
    
    }
    
    section .img2 {
        position:absolute;
        top: 500px;
        right:330px;
        height: 35px;
    
    }

    .pata1 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: 150px;
        z-index: -1000;


    }

    .pata2 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: -30px;
        top: 400px;
        z-index: -1000;


    }

    .pata3 {
        display: inline-flex;
        position: fixed;
        height: 150px;
        right: 60px;
        top: -30px;
        z-index: -1000;

    }
  
    #menu {
        
        display: inline-block;
        position: fixed;
        top: 5px;
        right: 0px;
        font-size: 24px;
        font-family: 'Arima', cursive;
        font-weight: bold;
        z-index: 10001;
        padding-left: 150px;


    }

    #menu li {
        display: flex;
        list-style: none;
        list-style-type: none;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        border-radius: 8px;
        padding: 5px;
        justify-content: center;
        width: 100px;
        align-items: center;
        margin: 2px auto 5px 0px;



    }

    #menu li ul {
        display: none;

    }

    #menu a {
        color: black;
        text-decoration: none;
    }

    #menu>ul>li:hover {
        display: flex;
        margin-left: -45px;
        padding-right: 45px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
    }



    #menu>ul>li:hover ul {
        border-radius: 10%;
        display: flex;
        position: absolute;
        left: -40px;
        top: 63px;
        width: 150px;
        border: 2px solid rgb(107, 170, 253);
        background-color: rgb(107, 170, 253);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    form {
        position: relative;
        margin-left: 55px;
        margin-right: 5px;
        border-radius: 20px;
        background-color: rgb(131, 184, 243);
        border: 2px solid rgb(97, 146, 238);
    }

    #login1 .submit {
        position: relative;
        width: 120px;
        top: 180px;
        left: 2px;
        border-radius: 10px;
    }


    #login1 .label1 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 10px;

    }

    #login1 .label2 {
        position: absolute;
        font-size: 20px;
        background-color: rgb(151, 195, 253);
        border-radius: 6px;
        box-shadow: 2px 2px;
        left: 10px;
        border: 40px;
        top: 100px;


    }

    #login1 #nome_login {
        position: absolute;
        width: 110px;
        top: 60px;
        left: 5px;
        border-radius: 10px;
    }

    #login1 #senha {
        position: absolute;
        width: 110px;
        top: 150px;
        left: 5px;
        border-radius: 10px;
    }



}


